# IDE config
/.idea/*
*.iml

# Exclude intermediate and build output
/target/
*/target/*
*/target/**

# Exclude python compiled and cached files
/__pycache__
*/__pycache__/*

# Exclude intermediate raw or binary files generated during classification
/data/*.csv
/data/*.binary

